 #notif {
        visibility: hidden;
        background-color: orange;
        color: yellow;
        font-weight: bold;
        position: absolute;
        left : 100px;
        top: -1%;
        padding: 5px;
        transition: top .5s;
        border-radius: 0px 0px 15px 15px;
    }

.container.style{
    background-color: #525252;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.bas{
	padding-top:60px;
}
.icon{
  display:block;
  width:48px;height:48px;
 background-image: url("../img/redes.png");
}
.facebook{
  background-position:-48px 48px;
}
.facebook:hover{
  background-position:-48px 0;
  }
.google{
  background-position:-240px 48px;
}
.google:hover{
  background-position:-240px 0;
}
.twitter{
  background-position:-144px 48px;
}
.twitter:hover{
  background-position:-144px 0;
}
.linkedin{
  background-position:-192px 48px;
}
.linkedin:hover{
  background-position:-192px 0;
}