 #notif {
        visibility: hidden;
        background-color: orange;
        color: yellow;
        font-weight: bold;
        position: absolute;
        left : 100px;
        top: -1%;
        padding: 5px;
        transition: top .5s;
        border-radius: 0px 0px 15px 15px;
    }

.container.style{
    background-color: #525252;
}
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}